/Backend-Internship-main/PHASE-03-CodeReview/my-app/.idea/
/Backend-Internship-main/PHASE-03-CodeReview/my-app/target/

/Backend-Internship-main/PHASE-04-UnitTest/my-app/.idea/
/Backend-Internship-main/PHASE-04-UnitTest/my-app/target/

/Backend-Internship-main/PHASE-05-DesignPattern-Lombok/my-app/.idea/
/Backend-Internship-main/PHASE-05-DesignPattern-Lombok/my-app/target/
